# Elisp byte code
*.elc

# Package related
/elpa
/eshell
/server
.mc-lists.el
*.cache
*.dat
*.eld
*.last
*.lsp*
*.*~

# Folders
eclipse.jdt.ls/
transient/
workspace/

# Files
bookmarks
custom.el
package-quickstart.el
recentf
