# Elisp byte code.
*.elc

# Package related.
/eshell
.mc-lists.el
*.cache
*.dat
*.last
*.*~

# Folders.
eln-cache/
transient/
tree-sitter/
url/

# Files.
bookmarks
custom.el
lisp/package-autoloads.el
projects
recentf
network-security.data
tramp
