# Elisp byte code.
*.elc

# Package related.
/eshell
/straight/build
/straight/repos
/straight/*.el
.mc-lists.el
*.cache
*.dat
*.last
*.*~

# Folders.
eln-cache/
transient/
tree-sitter/
url/

# Files.
bookmarks
custom.el
package-quickstart.el
projects
recentf
network-security.data
tramp
